.code__stack {
    font-family: monospace;
    font-size: 18px;
    background: #4e4e4e;
    color: #ffffff;
    /* word-wrap: break-word; */
    box-decoration-break: clone;
    padding: .6rem .6rem .4rem .6rem;
    border-radius: .4rem;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
}

code {
    font-family: monospace;
    font-size: 18px;
    background: #222222;
    color: #eeeeee;
    /* word-wrap: break-word; */
    box-decoration-break: clone;
    padding: .4rem .4rem .2rem .4rem;
    border-radius: .3rem;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
}

body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link--hidden {
    display: none;
    visibility: hidden;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579;
}