:root {
    --white: #ffffff;
    --lilac: #dbbfef;
    --lavender: #a4a0e8;
    --comet: #5a5977;
    --bossanova: #452859;
    --midnight: #3b224c;
    --revolver: #281733;
    --silver: #cccccc;
    --sirocco: #697C81;
    --mint: #9ff28f;
    --almond: #eccdba;
    --chamois: #E8DCA0;
    --honey: #efba5d;
    --apricot: #f47868;
    --lightning: #ffcd1c;
    --delta: #6F44F0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.code__stack::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.code__stack {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.code__stack {
    font-family: monospace;
    font-size: 18px;
    color: var(--silver);
    border-style: solid;
    /* word-wrap: break-word; */
    box-decoration-break: clone;
    padding: .6rem .6rem .4rem .6rem;
    border-radius: .4rem;
    white-space: nowrap;
    /* -webkit-overflow-scrolling: touch; */
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
}

.clip__code {
    font-family: monospace;
    font-size: 18px;
    background: var(--comet);
    color: var(--silver);
    box-decoration-break: clone;
    padding: .4rem .4rem .2rem .4rem;
    border-radius: .3rem;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
}

.clip__code:hover {
    background: var(--revolver);
}

.hover__button {
    font-family: monospace;
    font-size: 18px;
    font-family: monospace;
    font-size: 18px;
    color: var(--silver);
    box-decoration-break: clone;
    padding: .4rem .4rem .2rem .4rem;
    border-radius: .3rem;
    white-space: nowrap;
}

.hover__button:hover {
    background: var(--delta);
}



body {
    color: var(--silver);
    background: var(--midnight);
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: var(--revolver);
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: var(--silver);
    font-weight: 500;
}

.nav__link--hidden {
    display: none;
    visibility: hidden;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}
